@charset "UTF-8";

*{
    box-sizing: border-box;
}

fieldset{
	
    border: 1px solid #000;
    padding: 10px;
}

fieldset fieldset{
    border: 0px;
}



.botoes{
	display : flex;
	margin-left : 5px;
	margin-top : 5px;
}

.botoes div{
	margin : 15px, 10px;
	margin-left : 5px;
	margin-top : 5px;
}

.container{
	padding : 5px;
}

.row{
	margin-top : 10px;
}
