<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="estilo.css" type="text/css" media="all" />


    <title>Cadastrar Professor</title>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Menu</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">Início</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cadastrar-aluno">Cadastrar Aluno</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cadastrar-professor">Cadastrar Professor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/cadastrar-turma">Cadastrar Turma</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Consultar Dados
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/consultar-aluno">Consultar Alunos</a></li>
                      <li><a class="dropdown-item" href="/consultar-professor">Consultar Professores</a></li>
                      <li><a class="dropdown-item" href="/consultar-turma">Consultar Turmas</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <h1 > Cadastrar Professor</h1>
    <hr />

    <div class="container">
        <main>
            <form action="" method="post">
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"><b>Informações Pessoais</b></legend>
                    <label for="" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="" aria-describedby="" name="primeiroNome" th:value="${professor.primeiroNome}"
                        placeholder="Primeiro Nome" required>
                    <label for="" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" id="" aria-describedby="" name="sobreNome" th:value="${professor.sobreNome}"
                        placeholder="Sobrenome" required>
                            <legend class="col-form-label col-sm-2 pt-0"><b>Gênero</b></legend><br />
                           
                            <div class="col-sm-10" style="margin-left: 75px; margin-top: 15px;">
                            <label for="" class="form-label">Gênero atual:</label>
                                 <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" id="gridRadios1"
                                        th:value="${professor.genero}" checked required >
                                    <label class="form-check-label" for="gridRadios1">
                                        <span th:text="${professor.genero}"></span>
                                    </label>
                                    <hr style="witdh : 70%">
                                </div>
     <br/>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" id="gridRadios1"
                                        value="Masculino"  required >
                                    <label class="form-check-label" for="gridRadios1">
                                        Masculino
                                    </label>
                                   
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" id="gridRadios2"
                                        value="Feminino" required>
                                    <label class="form-check-label" for="gridRadios2">
                                        Feminino
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" id="gridRadios3"
                                        value="Outro" required>
                                    <label class="form-check-label" for="gridRadios3">
                                        Outro
                                    </label>
                                </div>
                            </div>
                            
                                <legend class="col-form-label col-sm-2 pt-0"><b>Rg e Cpf</b></legend>
                    <label for="" class="form-label">RG</label>
                    <input type="text" class="form-control" id="" aria-describedby="" name="rg" th:value="${professor.rg}"required>
                    <label for="" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="" aria-describedby="" name="cpf" th:value="${professor.cpf}" required>
                            
                </fieldset>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"><b>Contatos</b></legend>
                    <label for="" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="" aria-describedby="" name="email"  th:value="${professor.email}" required>
                    <label for="" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" id="" aria-describedby="" name="telefone" th:value="${professor.telefone}" required>
                </fieldset>
                </fieldset>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0"><b>Informações Escolares</b></legend>
                    <label for="" class="form-label">Matricula</label>
                    <input type="text" class="form-control" id="" aria-describedby="" name="matricula" th:value="${professor.matricula}" required>
                    <label for="" class="form-label">Disciplina</label>
                    <select class="form-select" aria-label="Default select example" name="disciplina">
                        <option selected th:value="${professor.disciplina}"><span th:text="${professor.disciplina}"></span></option>
                        <option value="Artes" >Artes</option>
                        <option value="Biologia" >Biologia</option>
                        <option value="Ed-Fisica" >Educação Física</option>
                        <option value="Filosofia" >Filosofia</option>
                        <option value="Fisica" >  Física</option>
                        <option value="Geografia" >Geografia</option>
                        <option value="Historia" >História</option>
                        <option value="Ling-inglesa" >Língua Inglesa</option>
                        <option value="Ling-portuguesa" >Língua Portuguesa</option>
                        <option value="Matematica" >Matemática</option>
                        <option value="Quimica" >Química</option>
                        <option value="Sociologia">Sociologia</option>
                      </select>
                </fieldset>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>